$cor1:#BDBDBD;
$font:'Noto Sans', sans-serif;;

body{
    width: 100%;
    height:100%;
    font-family: $font;
}
.login{
    max-width: 473px;
    max-height: 544px;
    margin: 10% auto;
    border: 1px solid $cor1;
    border-radius: 24px;

    h2{
        margin: 10px 20px ;
    }
    form{
        .input{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}